<h1>En construction</h1>
<h3>Evaluation de la mission</h3>
<h2>{{mission.attributes.libmission}}</h2>
  <form id="formChoixRegle" method="post">
    <div class="row">
      <div class="col-md-3">
        Objectifs
      </div>
      <div class="col-md-3">
        Actions
      </div>
      <div class="col-md-3">
        Règles
      </div>
      <div class="col-md-3">
      </div>
    </div>
  {{#each mission.attributes.listObjectif.models}}
    <div class="row">
      <div class="col-md-3">
        {{attributes.libobjectif}}
      </div>
        <div class="col-md-9">
          {{#each attributes.listAction}}
            <div class="row">
              <div class="col-md-4">
                {{attributes.libaction}}
              </div>
              <div class="col-md-8">
              {{#each attributes.listRegle}}
                <div class="row">
                  <div class="col-md-6">
                    {{attributes.libregle}}
                  </div>
                  <div class="col-md-6">
                    <input type="checkbox" id="{{attributes.libregle}}">
                  </div>
                </div>  
              {{/each}}
              </div>
            </div>
          {{/each}}
      </div>
    </div>
  {{/each}}


  <button id="submitButton" class="btn btn-default">Valider</button>
  </form>