<table class="table">
	<thead>
		<tr>
			<th>Identifiant</th>
			<th>Libellé Règle</th>
			<th>Score</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{regle.attributes.numregle}}</td>
				<td>{{regle.attributes.libregle}}</td>
				<td>{{regle.attributes.scoremin}}</td>
				<td>
					<a href="#Regles/Modifier/{{regle.attributes.numregle}}">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</a>
					<a href="#Regles/Supprimer/{{regle.attributes.numregle}}">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
	</tbody>
</table>