  <form id="formAjoutAction" method="post">
  <div class="form-group">
   <label for="actNumaction">Action requise</label>
    <select  class="form-control" id="actNumaction">
      <option value=null> Aucun </option>
      {{#each actions}}
        <option value={{numaction}}>{{numaction}} {{libaction}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="libaction">libaction</label>
    <input type="text" class="form-control" id="libaction" placeholder="Entrez un libellé" value="{{action.libaction}}" required>
  </div>
  <div class="form-group">
    <label for="scoremin">scoremin</label>
    <input type="number" class="form-control" id="scoremin" placeholder="Entrez un score minimum" value="{{action.scoremin}}" required>
  </div> 
  <button class="btn btn-default">Valider</button>
  </form>